@-webkit-keyframes kfSlideOutRight {
    0% {
        -webkit-transform: translate(0,0)
    }

    100% {
        -webkit-transform: translate(50px,0)
    }
}

@keyframes kfSlideOutLeft {
    0% {
        transform: translate(0,0)
    }

    100% {
        transform: translate(-50px,0)
    }
}

@-webkit-keyframes kfSlideInRight {
    0% {
        -webkit-transform: translate(-50px,0)
    }

    100% {
        -webkit-transform: translate(0,0)
    }
}

@keyframes kfSlideInLeft {
    0% {
        transform: translate(50px,0)
    }

    100% {
        transform: translate(0,0)
    }
}

.question-content {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.slide-fadein-left {
    -webkit-animation: kfSlideInLeft .2s ease-out;
    -o-animation: kfSlideInLeft .2s ease-out;
    animation: kfSlideInLeft .2s ease-out
}

.slide-fadeout-right {
    opacity: 0;
    visibility: hidden;
    -webkit-animation: kfSlideOutRight .2s ease-out;
    -o-animation: kfSlideOutRight .2s ease-out;
    animation: kfSlideOutRight .2s ease-out
}

.slide-fadein-right {
    -webkit-animation: kfSlideInRight .2s ease-out;
    -o-animation: kfSlideInRight .2s ease-out;
    animation: kfSlideInRight .2s ease-out
}

.slide-fadeout-left {
    opacity: 0;
    visibility: hidden;
    -webkit-animation: kfSlideOutLeft .2s ease-out;
    -o-animation: kfSlideOutLeft .2s ease-out;
    animation: kfSlideOutLeft .2s ease-out
}

.story {
    text-align: justify;
    text-justify: inter-word;
}