<!DOCTYPE html>
<html lang="en" ng-app="learningApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/star-rating.svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body ng-controller="learningController as controller">
    <div ng-if="controller.views.landingPage == controller.currentViews">
        <nav style="background-color: white">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo" style="color:black">Stories</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger" style="color: black"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="mobile.html">Recommended</a></li>
                    <li><a href="sass.html">Trending</a></li>
                    <li><a href="badges.html">Categories</a></li>
                    <li><a href="collapsible.html">Syllabus</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="mobile.html">Recommended</a></li>
            <li><a href="sass.html">Trending</a></li>
            <li><a href="badges.html">Categories</a></li>
            <li><a href="collapsible.html">Syllabus</a></li>
        </ul>
        <blockquote>
            <h6>Choose your type of story</h6>
        </blockquote>
        <div class="container">
            <div class="row">
                <h4>Stories For You</h4>
            </div>
            <div class="row">
                <div class="col s12" ng-click="controller.startStory()">
                    <div class="shadow-demo-1">
                        <div class="content">
                            <h5>Sandeep Ka Pyaar</h5>
                            <p>An Unforgettable Love Story</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0px">
                <div class="col s6">
                    <div class="shadow-demo-2">
                        <div class="content">
                            <div>A Rainy Day</div>
                            <div>Gaurav Arora</div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="shadow-demo-3">
                        <div class="content">
                            <div>Ambition Vs Marriage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h4>Popular</h4>
            </div>
            <div class="row">
                <div class="col s12" ng-click="controller.startStory()">
                    <div class="shadow-demo-4">
                        <div class="content">
                            <div>Most Read Stories</div>
                            <div>Find out what other learners have read the most</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0px">
                <div class="col s6">
                    <div class="shadow-demo-5">
                        <div class="content">
                            <div>Recently Added</div>
                            <div>Fresh New Stories</div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="shadow-demo-6">
                        <div class="content">
                            <div>Trending Stories</div>
                            <div>Stories currently in demand</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h4>Genres</h4>
            </div>
            <div class="row" style="padding: 0px">
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo-7">
                        <div class="content">
                            <div>Horror</div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo-8">
                        <div class="content">
                            <div>Thriller</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                            <div>Adventure</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0px">
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo-9">
                        <div class="content">
                            <div>Romantic</div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h4>Top Chapters in English</h4>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0px">
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h4>English Difficulty</h4>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0px">
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="z-depth-2 shadow-demo">
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="controller.views.story == controller.currentViews" class="row question-content" id="banner" style="margin-bottom: 0px; heigth:100%">
        <div class="bg-fill js-bg-fill"></div>
        <div class="col s12 m7" ng-swipe-left="controller.next()" ng-swipe-right="controller.previous()" style="padding: 15px;">
            <div class="card" ng-if="controller.card.type == 'content'">
                <div class="card-image" ng-if="controller.card.image !== ''">
                    <img ng-src="{{controller.card.image}}">
                    <span class="card-title">{{controller.card.title}}</span>
                </div>
                <div class="card-content" id="banner">
                    <div style="padding: 24px;position: relative;font-size:18px">{{controller.card.description}}</div>
                </div>
            </div>
            <div class="" ng-show="controller.card.type == 'question'">
                <question-control  question="controller.card" ></question-control>
            </div>
            <div class="card card_text_center" ng-show="controller.card.type == 'share'">
                <div class="card-content">
                    <span class="card-title">The End</span>
                </div>
                <div class="card-content">
                    Stay Tuned for the Next Episode
                </div>
                <div class="container">
                    <div class="row">
                        <h4>Skills</h4>
                    </div>
                    <div class="row" ng-repeat = "x in controller.metrics">
                        <div class="col s6">
                            {{x.title}}
                        </div>
                        <div class="col s6 pull-right">
                            {{x.text}}
                        </div>
                        <div class="col s12 progress">
                            <div class="determinate" style="width: {{x.progress}};background-color:{{x.color}}"></div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <p>Liked the Story?</p>
                </div>
                <div>
                    <a href="#" class="waves-effect waves-light btn">Share with Friends</a>
                </div>
                <div class="card-content">
                    <p>Rate the Story</p>
                    <div class="my-rating"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.10/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/star-rating.js"></script>
    <script src="js/init.js"></script>

    <!-- javascript -->
    <script type="text/javascript" src="node_modules/rellax/rellax.js"></script>

</body>
</html>
