<div class="card" data-rellax-speed="0.5" style="padding:20px;border-radius:8px">
    <div class="row">
        <div class="col m12 center questionClass" style="width:100%;margin-bottom:24px">
            {{question.questionTitle}}
        </div>
        <div class="col m12 center questionClass" style="margin-bottom:24px; font-size: 15px;">
            <div>
                {{question.question}}
            </div>
        </div>
        <div class="col s12 m12 options " ng-repeat="option in question.options">
            <div class="card horizontal" style="border-radius:8px" ng-class="{'correctAnswer rightAnswer':$index==question.answer && question.chosenAnswer != -1, 'wrongAnswer shake':$index==question.chosenAnswer && question.chosenAnswer != question.answer}" ng-click="onOptionClick($index)">
                <div class="card-stacked">
                    <div class="card-content" style="padding: 17px;">
                        <p>{{$index+1}}. {{option}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="solution" ng-show="question.chosenAnswer != -1 " style="postition:relative; top:20px">
            Solution:
            {{question.solution}}
        </div>
    </div>
</div>