html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  color: #222;
  overflow-x: hidden;
}

.question{
    width:40%;
    margin-left:auto;
    margin-right:auto;
}

.round-border{
    border-radius:24px;
}

.opensans{
    font-family:open-sans;
}

.timesroman{
    font-family:"Times New Roman"
}

.card-tag{
    font-size: 10px;
    padding: 0px 24px;
}

.card-main{
    padding: 0px 24px;
    margin:0px;
}

.position-card{
    position:relative;
    top:-50px;
    margin:0px;

}

.clear-margin{
    margin:0px
}

.clearfix{
    padding:0px !important;
}

.questionClass{
    font-size:24px;
}

.correctAnswer{
    color:green;
    border:1px solid green;
}

.wrongAnswer{
    color:red;
    border:1px solid red;
}

.options{
    cursor:pointer;
    border-radius:10px;
    padding: 0 0.5rem !important;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes slide {
    0% {transform: translate(0px, 0px); }
    100% {transform: translate(30px, 0px)}
}

.rightAnswerAnim{
    animation: slide 0.6s forwards;
}

h4 {
  font-size: 22px;
  margin-bottom: 28px;
}

header h2 {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-top: 70px;
}
header a h2 {
  color: #222;
}
header a h2 span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
header a:hover h2 span {
  color: #fff;
  margin-left: 10px;
}
header .white-block {
  margin-top: 20px;
  width: 46px;
  height: 6px;
  background: #fff;
}

header .title {
  margin-top: 80px;
}
header h1 {
  font-size: 96px;
  font-weight: 900;
  letter-spacing: 0.12em;
  margin: 0;
  margin-left: -6px;
}
header h1 span {
  display: inline-block;
  font-size: 20px;
  margin-top: 18px;
  vertical-align: top;
  letter-spacing: 0;
}
header .title a {
  display: inline-block;
  margin-top: 6px;
  margin-right: -70px;
  background: #222;
  padding: 26px 80px;
  color: #fff;
  border-radius: 12px;
  font-size: 26px;
  letter-spacing: 0.2em;
  transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
header .title a:hover {
  margin-top: 12px;
  margin-right: -80px;
  padding: 20px 90px;
}
header h3 {
  font-size: 21px;
}


/*----------------------------------
  Background Grid
------------------------------------*/


.grid {
  position: fixed;
  width: 100%;
}
.grid-line {
  height: 100vh;
  border-left: 1px solid #ccc;
}




.fixed-top {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #00F1C9;
  border-radius: 12px;
  z-index: -1;
  margin-top: -220px;
  margin-left: 100px;
}


/*----------------------------------
  Main
------------------------------------*/

main,
.main {
  overflow: hidden;
}

.section {
  position: relative;
}
section.san-francisco {
  margin-top: 100px;
}


.absolute {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.absolute.above {
  z-index: 2;
}
.absolute h2 {
  font-size: 140px;
  font-weight: 900;
  letter-spacing: -0.04em;
  color: #F0F0F0;
  z-index: -1;
}
.lg-green {
  width: 160px;
  height: 160px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -80px;
  margin-top: 200px;
}
.sm-green {
  width: 60px;
  height: 60px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.sm-purple {
  width: 60px;
  height: 60px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.xs-green {
  width: 60px;
  height: 60px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.md-green {
  width: 120px;
  height: 120px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 10px;
}
.lg-purple {
  width: 80px;
  height: 80px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 60px;
}





.date {
  margin-top: 400px;
  font-size: 48px;
  font-weight: 600;
  color: #5000F1;
}
.temp {
  margin-top: 200px;
  font-size: 280px;
  font-weight: 900;
  letter-spacing: -0.07em;
  color: #5000F1;
}







.text-editor {
  background: #222;
  padding: 60px 50px;
  border-radius: 12px;
  margin-left: 15px;
}
code {
  text-align: left;
  padding: 0;
  font-size: 22px;
  background: none;
  border-radius: 0;
  color: #00F1C9;
}



.md-facebook {
  width: 60px;
  height: 60px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: 68px;
  margin-top: 600px;
}
.md-twitter {
  width: 120px;
  height: 120px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 60px;
}
.md-dixonandmoe {
  width: 120px;
  height: 120px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 760px;
}
.bt-green {
  width: 60px;
  height: 60px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 700px;
}
.bt-purple {
  width: 80px;
  height: 80px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 600px;
}

.share {
  position: relative;
  top: -240px;
}
.share a {
  font-size: 34px;
}
.share a span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.share a:hover span {
  margin-left: 10px;
}

a.dam,
a.dam:hover,
a.dam:active,
a.dam:visited {
  color: #222;
}

span.purple {
  color: #5000F1;
}
span.green {
  color: #A0F100;
}
span.white {
  color: #fff;
}


@-webkit-keyframes fuzz /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    /*-webkit-transform: scaleY(1);*/
    opacity: 1;
  }
}

@-webkit-keyframes fuzz2 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fuzz3 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





@-webkit-keyframes stretch /* Safari and Chrome */ {
  0% {
    -webkit-transform: scaleX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
  }
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}







/*----------------------------------
  Medium devices: iPad vertical
------------------------------------*/

@media (max-width: 991px) {


}



/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {


}


/*----------------------------------
  iPhone 6 & 6+ specific text bump
------------------------------------*/

@media (max-width: 991px) and (max-height: 736px) and (min-height: 481px) {


}

@-webkit-keyframes kfSlideOutRight {
  0% {
    -webkit-transform: translate(0,0)
  }

  100% {
    -webkit-transform: translate(50px,0)
  }
}

@keyframes kfSlideOutLeft {
  0% {
    transform: translate(0,0)
  }

  100% {
    transform: translate(-50px,0)
  }
}

@-webkit-keyframes kfSlideInRight {
  0% {
    -webkit-transform: translate(-50px,0)
  }

  100% {
    -webkit-transform: translate(0,0)
  }
}

@keyframes kfSlideInLeft {
  0% {
    transform: translate(50px,0)
  }

  100% {
    transform: translate(0,0)
  }
}

.question-content {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.slide-fadein-left {
  -webkit-animation: kfSlideInLeft .2s ease-out;
  -o-animation: kfSlideInLeft .2s ease-out;
  animation: kfSlideInLeft .2s ease-out
}

.slide-fadeout-right {
  opacity: 0;
  visibility: hidden;
  -webkit-animation: kfSlideOutRight .2s ease-out;
  -o-animation: kfSlideOutRight .2s ease-out;
  animation: kfSlideOutRight .2s ease-out
}

.slide-fadein-right {
  -webkit-animation: kfSlideInRight .2s ease-out;
  -o-animation: kfSlideInRight .2s ease-out;
  animation: kfSlideInRight .2s ease-out
}

.slide-fadeout-left {
  opacity: 0;
  visibility: hidden;
  -webkit-animation: kfSlideOutLeft .2s ease-out;
  -o-animation: kfSlideOutLeft .2s ease-out;
  animation: kfSlideOutLeft .2s ease-out
}

.story {
  text-align: justify;
  text-justify: inter-word;
}

#banner {
  position: relative;
  background: white;
  overflow: hidden;
  padding: 0px;
}

.bg-fill {
  position: absolute;
  background: #ff7f7f;
  width: 100%;
  top: 0;
}

.shadow-demo-1 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/zz.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-2 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/gg.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-3 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/bbb.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-4 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/lll.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-5 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/shaadi.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-6 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/aa.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-7 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/cc.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-8 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/bb.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo-9 {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/5.jpeg') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}
.shadow-demo {
  border-radius: 5px;
  text-align: center;
  background: #fff url('../images/shaadi.png') no-repeat center;
  background-size: cover;
  height: 135px;
  color: #fff;
}


.content {
  padding-top: 50px;
}

.card_text_center {
  text-align: center;
  background-color:#fafeeb;
}

.card_share{
  background-color:#def5c1 !important;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}